<?xml version="1.0" encoding="UTF-8"?>

<configuration>
                                <!--${log.path}-->
    <property name="CHANGE_LOG" value="MQ_LOG" />

    <appender name="MQ" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>mq.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${CHANGE_LOG}\\mq-%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
            <!-- each should be at most 20MB, keep 60 days worth of history, but at most 500MB -->
            <maxFileSize>30MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%date %level -  %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%thread] %-5level  %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>


    <logger name = "MQLogger" level = "INFO" additivity="false">
        <appender-ref ref="MQ" />
        <appender-ref ref="STDOUT" />
    </logger>
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
